extends main
block content
  div.login
    p 꽃병을 만드려면 로그인이 필요해요 
      form  
        p 아이디
            input.id(type="text" name="username" placeholder="username")
            input(type="submit") 
            br  
              p 비밀번호
            input.pw(type="password" name="password" placeholder="password")
            input(type="submit") 
