.toggle {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(240, 243, 232);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.colorChange {
  background-color: rgb(253, 104, 104);
  transition: 1s;
}
.toggle.barColor span {
  background-color: rgb(253, 216, 216);
  transition: 1s;
}
.vh {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle span {
  width: 80px;
  height: 6px;
  background-color: rgb(86, 90, 65);
  border-radius: 5px;
  transition: 1s;
  margin-left: 0px;
  position: absolute;
}
.toggle span:nth-child(1) {
  transform: translateY(-20px);
  width: 50px;
  left: 9px;
}
.toggle span:nth-child(3) {
  transform: translateY(20px);
  width: 30px;
  left: 9px;
}
.toggle.active span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
  width: 80px;
}
.toggle.active span:nth-child(2) {
  transform: translateX(100px);
}
.toggle.active span:nth-child(3) {
  transform: translateY(0px) rotate(315deg);
  width: 80px;
}
