.font {
  font-size: 80px;
  font-weight: 540;
}
.margin {
  margin: 0;
}
.padding {
  padding: 0%;
}
.blue {
  color: #4285f4;
}
.red {
  color: #ea4335;
}
.yellow {
  color: #fbbc05;
}
.green {
  color: #34a853;
}
.searchBox {
  width: 600px;
  height: 40px;
  border: 1px solid black;
  font-size: larger;
  border-radius: 20px;
  text-align: center;

  display: inline-block;

  margin-top: -100px;
}

.img1 {
  position: relative;
  right: 170px;
  width: 60px;
}

.img2 {
  position: relative;
  left: 180px;
}
.google-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
